# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Migrations cache
# =========================
*.log